# Browser-safe Stytch Consumer project token
NEXT_PUBLIC_STYTCH_PUBLIC_TOKEN=

# Server-only Stytch Consumer project credentials
STYTCH_PROJECT_ID=
STYTCH_SECRET=

# Server-only Lit Chipotle runtime credentials
LIT_USAGE_API_KEY=
LIT_SIGN_ACTION_CID=QmVvKwLcFTMV4wY5f5w4dQzrX5JWWTr736C8vW3tDinJSq
LIT_ENCRYPT_ACTION_CID=QmdmrTyKWZcxcjHuKpNHDZFvWowPMRLw2zVtsdFt3DkSq6
LIT_DECRYPT_ACTION_CID=QmTzNxwWUCvczgbjhckEoHHJRPnLWA7RY32Kym7YtA2HYM
LIT_PKP_ID=
